@use "variables" as var;

@mixin flex($justify, $align, $gap: 0, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin responsiveElem($property, $minSize, $maxSize) {
  #{$property}: calc(
    #{$minSize}px + (#{$maxSize} - #{$minSize}) *
      ((100vw - 320px) / (1920 - 320))
  );
}
