@use "../abstracts" as var;

header {
  background: white;
  padding-block: 4rem 2.8rem;

  img {
    max-width: 299px;
    transform: translateY(100%);
    opacity: 0;
    transition: 1s ease-in-out;
    min-width: 299px;
    height: 62px;
  }

  &.slide-in {
    img {
      animation: fadeIn 1s ease-in-out forwards;
    }

    button {
      animation: fadeIn 1s ease-in-out forwards;
    }
  }
}
