@use "../abstracts" as var;

h1 {
  @include var.responsiveElem(font-size, 35, 59);
  font-weight: 400;
  transform: translateY(100%);
  opacity: 0;
  transition: 1s ease-in-out;

  .yellow,
  .green {
    font-weight: 700;
  }

  .yellow {
    color: var.$yellow;
  }

  .green {
    color: var.$green;
  }
}

h2 {
  @include var.responsiveElem(font-size, 30, 57);
  max-width: 626px;
  transform: translateY(100%);
  opacity: 0;
  transition: 1s ease-in-out;
}

h3 {
  @include var.responsiveElem(font-size, 33, 43);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2.5rem;
  opacity: 0;
  transform: translateY(100%);
  transition: 1s ease-in-out;

  a {
    color: var.$green;
    text-decoration: none;
  }
}
