@use "../abstracts" as var;

header#page-header {
  .container {
    @include var.flex(center, center, 0, column);
  }
}

#page {
  background: var.$gray;
  padding-block: 5.3rem 2.5rem;
  @include var.flex(center, center, 0, column);

  #content {
    background: transparent;

    .large-container {
      align-items: center;
      gap: 0;
      max-width: min(98%, 1330px);
    }
  }

  h3 {
    max-width: 100%;
    margin-block: 1em 0.2em;
  }

  h2 {
    width: 100%;
    font-family: "Calibri Light";
    font-weight: 700;
    max-width: 100%;
    margin-bottom: 1em;
    strong {
      font-weight: 700;
      font-family: var.$font-family;
    }

    &::before,
    &::after {
      display: none !important;
    }
  }

  h2,
  h3,
  p,
  ul,
  li,
  a,
  span,
  div {
    transform: translateY(0);
    opacity: 1;
  }
}
